body {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: purple;
  padding-left: 0;
  padding-right: 10px;
  align-items: center;
  margin: 0;
}
ul > li > a {
  color: slategray;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}
ul > li > a:hover {
  color: #fff;
}
.el_ayudante {
  margin-left: 10px;
  background-image: url("../imagenes/salon-de-belleza-el-ayudante.png");
  width: 150px;
  height: 70px;
  background-size: cover;
  background-position: 0 -40px;
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 588px;
}
.main-p {
  width: 100%;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}
.main-image {
  background-image: url(../imagenes/main\ salon\ de\ belleza.jpg);
  /* height: 50px;

    width: 100px; */
  background-repeat: no-repeat;
  background-position: -270px 0;
  background-size: cover;
  transform: scale(1);
}
.main-bg_image {
  background-image: url(../imagenes/Vanessa-Hudgens-casa-Studio-City-portada.png);
  height: 588px;
  position: absolute;
  background-size: contain;
  width: 100%;
  opacity: 0.3;
  z-index: -1;
}
.section-h1 {
  text-align: center;
  padding: 0 auto;
  font-weight: bold;
  font-size: 30px;
  font-style: oblique;
  background-color: violet;
}
.section-article_1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 300px);
  font-family: sans-serif;
  text-align: center;
}
.article-imagen_1,
.article-imagen_2,
.article-imagen_3,
.article-imagen_4,
.article-imagen_5,
.article-imagen_6,
.article-imagen_7,
.article-imagen_8,
.article-imagen_9,
.article-imagen_10,
.article-imagen_11,
.article-imagen_12,
.article-imagen_13 {
  height: 250px;
  border-radius: 50%;
  width: 250px;
  margin: auto;
  background-size: contain;
}
.article-imagen_1 {
  background-image: url("../imagenes/cortes-pelo-modernos.webp");
}
.article-imagen_2 {
  background-image: url("../imagenes/cambios-de-looks.jpg");
}
.article-imagen_3 {
  background-image: url("../imagenes/mechas.jpg");
}
.article-imagen_4 {
  background-image: url("../imagenes/manicura.webp");
}
.article-imagen_5 {
  background-image: url("../imagenes/pedicure.jpg");
}
.article-imagen_6 {
  background-image: url("../imagenes/alicer-con-keratina.jpg");
}
.article-imagen_7 {
  background-image: url("../imagenes/botox.jfif");
}
.article-imagen_8 {
  background-image: url("../imagenes/limpieza-facial.jpg");
}
.article-imagen_9 {
  background-image: url("../imagenes/masajes-relajantes.jpg");
}
.article-imagen_10 {
  background-image: url("../imagenes/masajes-anti-estrés.jpg");
}
.article-imagen_11 {
  background-image: url("../imagenes/masajes-reductores.jpg");
}
.article-imagen_12 {
  background-image: url("../imagenes/pestanas_magneticas.jpg");
}
.article-imagen_13 {
  background-image: url("../imagenes/chocolaterapia.jpg");
}
table {
  margin: 0 auto;
  border: 2px solid #000;
  width: 400px;
}
table tbody tr td {
  padding: 6px;
}
table tbody tr td:hover {
  background-color: violet;
  color: #fff;
}
.formulario {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: slateblue;
}
form div label {
  margin: 10px;
}
form div {
  margin: 10px;
  padding: 10px;
}
.section-ofertas {
  display: grid;
  grid-template-columns: 600px 600px;

  width: 1200px;
}
.section-img_navidena {
  background-image: url("../imagenes/retrato-de-un-brutal-papa-noel-barba-con-bola-santa-en-peluqueria-estilo-de-navidad-para-el-santa-moderno-hombre-de-santa-claus-en-navidad.jpg");
  height: 550px;
  width: 400px;
  background-size: cover;
  margin: 0 auto;
}
.section-ofertas div div h4 {
  text-align: center;
}
.oferta-1 {
  background-image: url("../imagenes/el-hombre-mayor-en-traje-de-papá-noel-afeita-a-su-maestro-personal-en-la-peluquería-antes-de-navidad.webp");
  height: 200px;
  width: 400px;
  margin: 0 auto;
  background-size: cover;
}
.oferta-2 {
  background-image: url("../imagenes/papá-noel-como-amo-en-la-peluquería-de-caballeros.jpg");
  height: 200px;
  width: 400px;
  margin: 0 auto;
  background-size: cover;
}
.oferta-3 {
  background-image: url("../imagenes/papa-noel-afeitado-peluqueria.jpg");
  height: 200px;
  width: 400px;
  margin: 0 auto;
  background-size: cover;
}
.oferta-4 {
  background-image: url("../imagenes/vaidad-pestanas.jfif");
  height: 200px;
  width: 400px;
  margin: 0 auto;
  background-size: cover;
}
.section-ofertas div h3 {
  text-align: center;
  font-weight: bold;
  font-family: cursive;
}
.section-ofertas div p {
  text-align: center;
  font-style: italic;
}
.section-sucursal {
  width: 900px;
  margin: 0 auto;
}
.section-sucursal h2,
.section-sucursal h3 {
  text-align: center;
  font-family: monospace;
}
.section-sucursal p {
  text-align: center;
}
.section-sucursal_1 {
  background-image: url("..//imagenes/sucursal.jpg");
  height: 300px;
}
.section-sucursal_2 {
  background-image: url("..//imagenes/sucursal-2.gif");
  height: 300px;
}
.section-sucursal_3 {
  background-image: url("..//imagenes/sucursal-3.jpg");
  height: 300px;
}
.section-sucursal_4 {
  background-image: url("..//imagenes/sucursal-4.jpg");
  height: 300px;
}
.section-sucursal_5 {
  background-image: url("..//imagenes/sucursal-5.jpg");
  height: 300px;
}
.section-sucursal_6 {
  background-image: url("..//imagenes/sucursal-6.jpg");
  height: 300px;
}
.section-fotos_trabajo {
  display: grid;
  grid-template-columns: 200px 400px 200px 400px;
  grid-template-rows: 400px 400px;
  width: 1200px;
  margin: 0 auto;
  grid-gap: 2px;
}
.section-fotos_trabajo h4 {
  line-height: 300px;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 4px;
}
.section-fotos_trabajo > div {
  background-size: cover;
}
.foto-1 {
  background-image: url("../imagenes/foto-aladin.jpg");
  height: 300px;
  border: 30px double #f00;
  padding: 2px;
  border-radius: 2px;
}
.foto-2 {
  background-image: url("../imagenes/foto-talento.jpg");
  height: 300px;
  border: 30px double #f00;
  padding: 2px;
  border-radius: 2px;
}
.foto-3 {
  background-image: url("../imagenes/foto-amo.jfif");
  height: 300px;
  border: 30px double #f00;
  padding: 2px;
  border-radius: 2px;
}
.foto-4 {
  background-image: url("../imagenes/foto-servier.jpg");
  height: 300px;
  border: 30px double #f00;
  padding: 2px;
  border-radius: 2px;
}
.foto-5 {
  background-image: url("../imagenes/foto-genio.jfif");
  height: 300px;
  border: 30px double #f00;
  padding: 2px;
  border-radius: 2px;
}
.foto-6 {
  background-image: url("../imagenes/foto-fiel.jpg");
  height: 300px;
  border: 30px double #f00;
  padding: 2px;
  border-radius: 2px;
}
ol li {
  list-style: none;
  margin: 6px;
  font-size: 24px;
  font-style: italic;
}
ol li a {
  text-decoration: none;
}
footer {
  height: 400px;
  background: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}
.footer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 200px 50px 150px;
  margin: auto;
}
.footer div {
  display: flex;
  align-self: center;
  margin: 0 auto;
}
.footer div p {
  width: 300px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.footer-text {
  display: flex;
  align-self: center;
  font-size: 40px;
  text-align: center;
  font-style: oblique;
}
a {
  text-decoration: none;
}
.footer-text-2 {
  grid-column: 1/-1;
  border-top: 3px solid #fff;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  word-spacing: 10px;
}
.footer-text-3 {
  grid-column: 1/-1;
  flex-direction: column;
  text-align: center;
  letter-spacing: 3px;
  font-style: italic;
  font-weight: bold;
}
.conectate {
  background-image: url("../imagenes/conectate-a-las-redes.png");
  background-size: cover;
  background-position: -20px;
  height: 80px;
  width: 250px;
  cursor: pointer;
}
nav {
  position: fixed;
  width: 100%;
  padding: 0 0 70px 0;
  z-index: 20;
}
html {
  scroll-behavior: smooth;
}
#inicio,
#servicios,
#precios,
#citas,
#ofertas,
#sucursales,
#fotos,
#informacion {
  scroll-margin-top: 70px;
}

/* desde aqui para responsive */

@media only screen and (max-width: 1078px) {
  #inicio > div {
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 865px) {
  #inicio > div {
    overflow-y: scroll;
  }
  header {
    display: none;
  }

  #menuToggle {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle input {
    display: block;
    width: 48px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding-top: 50px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    flex-direction: column;
  }
  #menu .bp {
    padding: 10px 0;
    font-size: 22px;
    font-family: "Lato", sans-serif;
  }
  #menuToggle input:checked ~ #menu {
    transform: none;
  }
  ul > li > a:hover {
    color: #000;
  }
  main {
    padding-top: 70px;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 588px;
  }
  .main-p {
    font-size: 16px;
  }
  .section-article_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
    text-align: center;
  }
  .section-ofertas {
    display: grid;
    grid-template-columns: 500px;
  }
  .section-sucursal {
    width: 400px;
    margin: 0 auto;
  }
  .section-fotos_trabajo {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 40px 250px 40px 250px 40px 250px 40px 250px 40px 250px 40px 250px;
    width: 500px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    grid-gap: 2px;
  }
  .section-fotos_trabajo h4 {
    font-family: monospace;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    letter-spacing: 4px;
  }
  .section-fotos_trabajo div {
    height: 200px;
  }
  #informacion {
    margin-top: 14px;
  }footer {
  height: 500px;
  background: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}
.footer {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: repeat(2, 100px 50px);
  margin: 0 auto;
}

}
